// Local Font Imports

@font-face {
  font-family: 'American Captain';
  src: url('../../fonts/amercapt.otf') format('opentype');
  src: url('../../fonts/amercapt.ttf') format('truetype');
}

@font-face {
  font-family: 'Falling Sky';
  src: url('../../fonts/FallingSky.otf') format('opentype');
}

// SCSS Imports

@import 'variables';

@import 'normalize';

@import 'clearfix';

@import 'borderbox';

@import 'mixins';

// Main Formatting

body {
  font-family: $font-main;
  color: darken($color-secondary,20);
  background: $color-main;
  font-size: 16px;
}

.user-header {
  width: 80%;
  margin: 0 auto;

  h1 {
    color: $color-accent;
    font-family: $font-second;
    font-size: 4rem;


    .smaller-heading {
      font-family: $font-main;
      font-size: 1.8rem;
      color: $color-secondary;
    }
  }
}

.user-form {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 75px;

  input[type=email], input[type=password], input[type=text] {
    width: 300px;
    padding: 7.5px;
    border-radius: 0;
    border: 1px solid $color-secondary;
    margin-bottom: 20px;
    transition: all 0.5s ease;

    &:hover {
      border: 1px solid lighten($color-secondary, 50);
    }

    &:focus {
      border: 1px solid $color-accent;
    }
  }

  input[type=submit] {
    @include button($color-accent, $color-main, $font-second);
    border: none;
    margin-bottom: 20px;
    width: 225px;
  }

  a {
    @include button($color-secondary, $color-main, $font-main);
    text-transform: capitalize;

    &:first-of-type {
      margin-right: 15px;
    }
  }
}

.notes-header {
  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__heading {

    h1 {
      font-family: $font-second;
      color: $color-accent;
      font-size: 5rem;
      margin-top: 20px;
    }
  }

  &__user {
    text-align: right;

    p {
      color: $color-secondary;
      margin-bottom: 10px;
    }

    &__button {
      button {
        @include button($color-secondary, $color-main, $font-main);
        border: none;
      }
    }
  }
}

header {
  height: 93.5vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;

  &.main-page-head {
    @include header-bg('../../img/background.jpg');
  }

  h3 {
    display: none;
  }

  .mobile-menu{
    display: none;

    a {
      color: $color-main;
    }
  }

  .login {
    position: absolute;
    top: 0;
    right: 10%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    z-index: 10;

    .exit-button {
      display: none;
      font-size: 20px;

      a {
        background: $color-main;
        color: $color-accent;

        &:hover {
          background: $color-main;
          color: $color-accent;
        }
      }
    }

    a {
      @include button($color-accent, $color-main, $font-second);
      letter-spacing: 2px;
    }

    div {
      padding-right: 10px;

      input {
        font-family: $font-main;
        background: rgba(255,255,255,0.6);
        border: 0;
        padding: 5px;
        color: darken($color-secondary,20);
        margin-top: 5px;
        width: 120px;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;

    h1 {
      font-family: $font-second;
      text-transform: uppercase;
      font-size: 10rem;
      margin: 0 auto;
      padding: 0;
      color: $color-accent;
      letter-spacing: 15px;
      text-align: right;
    }

    h2 {
      padding-left: 50px;
      color: $color-main;
      text-align: left;
      font-size: 1.8rem;
    }

    .main-description {
      padding-right: 200px;
    }
  }

  .login-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    div {
      width: 40%;

      a {
        @include button($color-accent, $color-main, $font-second);
      }
    }
  }
}

main {
  padding-bottom: 50px;

  .notes-add {
    text-align: center;
    padding-top: 25px;

    a {
      @include button($color-accent, $color-main, $font-second);
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }

  .selection-head {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;

    h2 {
      font-size: 1.875rem;
    }
  }

  .char-select, .game-select {
    @extend .selection-head;
    text-align: center;

    a {
      @include button($color-secondary, $color-main, $font-main);
    }

    select {
      background: $color-secondary;
      border: 0;
      color: $color-main;
      padding: 5px;
      margin-right: 10px;
      font-family: $font-main;
    }

    .opp-character {
      margin-left: 10px;
    }

    .button-break {
      display: none;
    }
  }
}

.char-notes {
  width: 80%;
  max-width: 1250px;
  margin: 0 auto;

  .button-break {
    display: none;
  }

  ul {
    padding-left: 0;
  }

  select {
    background: $color-secondary;
    border: 0;
    color: $color-main;
    padding: 5px;
    margin-right: 10px;
    font-family: $font-main;
  }
  .wrapper {
    padding-top: 10px;
    text-align: center;
    a {
      @include button($color-secondary, $color-main, $font-main);

      &:last-of-type {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

.char-notes ul {
  margin-top: 35px;
}

// Make the Character Notes and filter initially invisible, then make visible on click

.char-notes ul li, .char-notes .wrapper {
  transition: opacity 0.5s;
  // Don't allow white space to push down the footer until notes are revealed
}

.char-notes ul li {
  list-style-type: none;
  list-style-position: outside;
  padding-bottom: 10px;

  > a:not(.button) svg {
    margin-left: 5px;
    transition: all 0.5s;

    &:hover {
      color: darken($color-accent, 10);
    }
  }

  a {
    color: $color-accent;

    &.button {
      color: $color-main;
    }
  }

  .note-type {
    color: $color-accent;
  }
}

.char-notes ul li.show, .char-notes .wrapper.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
  // Now it's okay for the list to push down the footer
  display: block;
}

// Footer

footer {
  background: lighten($color-accent,10);
  color: $color-main;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100%;

  .wrapper {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;

    a {
      color: $color-main;
      display: inline-block;
      font-size: 17.5px;
      padding: 2px;
      transition: background 0.5s, color 0.5s;

      &:hover {
        background: $color-main;
        color: lighten($color-accent,10);
      }
    }
    .copyright {
      padding-top: 2.5px;
      width: 50%;
    }
    .social-media {
      width: 50%;
      text-align: right;
      padding-right: 7.5%;
    }
  }
}

.note-qa-li {
  margin-top: 25px;

  input[type=text] {
    width: 40%;
    background: $color-secondary;
    color: $color-main;
    font-family: $font-main;
    padding: 5px;
    border: 1px solid black;
  }

  a {
    @include button($color-secondary, $color-main, $font-main);

    margin-left: 10px;
  }
}

.note-filter {
  margin-left: 10px;
}

.add-notes-popup {
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  width: 50%;
  margin: 0 auto;

  h4 {
    text-align: left;
  }
  select {
    background: $color-accent;
    border: 0;
    color: $color-main;
    padding: 5px;
    margin-right: 10px;
    font-family: $font-main;
  }

  textarea {
    background: $color-main;
    border: 1px $color-accent solid;
    font-family: $font-main;
    color: $color-accent;
  }

  a {
    @include button($color-accent, $color-main, $font-main);
    text-transform: capitalize;
    border: 0;
    margin-top: 20px;
    margin-right: 20px;

    &:last-of-type {
      @include button($color-secondary, $color-main, $font-main);
      text-transform: capitalize;
      margin-right: 0;
    }
  }
}

.no-notes {
  text-align: center;
}

@import 'media';
